body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

}

.people {
   --column-number: 2;
    display: grid;
    grid-template-columns: repeat(var(--column-number), 220px);
    gap: 30px 10px;
    justify-content: center;
    align-content: flex-start;

    padding: 20px 25px ;
    margin: 0;

    @media (min-width: 1000px) {
    --column-number: 4;
    padding-inline: 45px;

  }
}

.person {

  position: relative;
  box-sizing: border-box;
  width:100%;
  padding: 10px 10px 0;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  transition: transform 1s;

  &:hover {
    background-color: #EEEEEE;
    transform: scale(1.2);
    z-index: 2;
  }

  &:hover &__extra {
    display: block;
    z-index: 1;
    transform: translateY(99%);
  }

  &:hover &__img {
    border-radius: 50px;

  }

  &__photo {
    position: relative;
    margin-bottom: 8px;
  }

  &__img {
    display: flex;
    margin-inline: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    transition: border-radius 1s;
  }

  &__rank {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    background-color: #FFF;
    border-radius: 100px;

    color: #8B0000;
    font-weight: 700;
    font-size: 16px;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    color: #2F4F4F;
  }

  &__extra {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    box-sizing:border-box;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding-top: 9px;
    padding-bottom: 16px;
    background-color: #EEEEEE;
  }

  &__sport {
    &::after {
      content:',';
    }
  }

  &__pay {
    &::before {
      content: '$';
    }

    &::after {
      content: 'M';
    }
  }
}